@use 'sass:map';
@import '@angular/material/theming';

$md-primary: (
50:  #fffce7,
100: #ffe8b5,
200: #ffdb84,
300: #ffc352,
400: #f9b42a,
500: #f37d29,
600: #e76b24,
700: #d6601f,
800: #c54e1a,
900: #a43b0f,
  contrast: (
    50: #212121,
    100: #212121,
    200: #212121,
    300: #fafafa,
    400: #fafafa,
    500: #fafafa,
    600: #fafafa,
    700: #fafafa,
    800: #fafafa,
    900: #fafafa,
    A100: #fafafa,
    A200: #fafafa,
    A400: #fafafa,
    A700: #fafafa,
  ),
);

$md-accent: (
  50:  #f5f8fd,
  100: #ebf1fb,
  200: #d1e3f7,
  300: #b7d5f4,
  400: #a2c8f2,
  500: #e2e8f0,
  600: #c6d3dc,
  700: #a9bdc7,
  800: #8caaaf,
  900: #5f747a,
  contrast: (
    50: #212121,
    100: #212121,
    200: #212121,
    300: #212121,
    400: #fafafa,
    500: #fafafa,
    600: #fafafa,
    700: #fafafa,
    800: #fafafa,
    900: #fafafa,
    A100: #212121,
    A200: #212121,
    A400: #212121,
    A700: #212121,
  ),
);
