@use 'sass:math';

$breakpoints: (
  'mobile': (
    min-width: 425px,
  ),
  'tablet': (
    min-width: 692px,
  ),
  'desktop': (
    min-width: 1024px,
  ),
  'large-desktop': (
    min-width: 1200px,
  ),
);

@mixin respond-to($name) {
  @if map-has-key($breakpoints, $name) {
    @media #{inspect(map-get($breakpoints, $name))} {
      @content;
    }
  } @else {
    @error '@mixin respond-to: `#{$name}` is not a key in breakpoints.' +
    ' Available breakpoints are: `#{$breakpoints}`';
  }
}

$text-color: #222222;
$text-color-contrast: #ffffff;
$contrast-color: #e2e8f0;
$primary-color: #a13cff;
$chip-color: #8d5cff2c;
$background-color: #ffffff;
$background-color-contrast: #222222;

