@import "/src/app/core/themes/variables.scss";
@import "/src/app/core/themes/sizes.scss";

.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.carousel-inner {
  display: flex;
  transition: transform 0.5s ease;
}

.carousel-item {
  min-width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;


  mat-icon {
    color: $primary-color;
  }
}

.carousel-content {
  border: 2px solid rgba(17, 17, 17, 0.1);
  border-radius: 12px;
  padding: 24px;
  width: 70%;
  height: 243px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // background-color: $background-color;
}

.carousel img {
  width: 100%;
  height: auto;
}

.carousel-controls {
  display: flex;
  gap: 12px;
  justify-content: center;
}

.carousel-control-next {
  right: 10px;
}
