<div class="menu">
  <div class="header flex">
    <h1><strong>bitwise</strong></h1>
    <app-burger-menu (click)="toggleMenu()"></app-burger-menu>
  </div>

  <nav class="navigation-menu" *ngIf="showMenu" [@dropDownMenu]>
    <ul>
      <li class="list-items" *ngFor="let item of navigationItems">
        <div
          class="menu-item"
          [ngClass]="{
            'regular-item': !item.options || item.options.length === 0
          }"
        >
          <ng-container
            *ngIf="item.options && item.options.length > 0; else regularItem"
          >
            <mat-expansion-panel [expanded]="false" [@.disabled]="true" id="expansion-panel">
              <mat-expansion-panel-header (click)="toggleDropdown(item)">
                <h2>{{ item.label }}</h2>
              </mat-expansion-panel-header>
              <ul class="option-link">
                <li *ngFor="let option of item.options">
                  <a [href]="option.link">{{ option.label }}</a>
                </li>
              </ul>
            </mat-expansion-panel>
          </ng-container>
          <div class="regular-item">
            <ng-template #regularItem>
              <a [href]="item.link">{{ item.label }}</a>
              <mat-icon>{{ item.icon }}</mat-icon>
            </ng-template>
          </div>
        </div>
      </li>
    </ul>
  </nav>
</div>
