<div class="menu">
  <div class="header flex">
    <h1><strong>bitwise</strong></h1>
    <nav class="navigation-menu" [@dropDownMenu]>
      <ul>
        <li class="list-items" *ngFor="let item of items">
          <div class="menu-item">
            <ng-container>
              <mat-expansion-panel
                [expanded]="false"
                [@.disabled]="true"
                id="expansion-panel"
                [ngClass]="{'hoverable': item.showDropdown}"
              >
                <mat-expansion-panel-header>
                  <h5>{{ item.label }}</h5>
                </mat-expansion-panel-header>
                <ul class="option-link">
                  <li *ngFor="let option of item.options">
                    <a [href]="option.link">{{ option.label }}</a>
                  </li>
                </ul>
              </mat-expansion-panel>
            </ng-container>
          </div>
        </li>
      </ul>
    </nav>
  </div>
</div>
