@import "/src/app/core/themes/variables.scss";

.menu {
  padding: (16 0 16 0);
  background: $background-color;
  display: none;

  @include respond-to('desktop') {
    display: block;
  }

  > .header {
    padding: 10px 22px 10px 22px;
    justify-content: space-between;
    align-items: center;

    h1 {
      margin-top: 10px;
    //   font-size: 28px;
      color: $primary-color;
    }
  }
}

.navigation-menu {
    background: $background-color;
    padding: 0px 24px 0px 24px;
  
    ul {
      list-style: none;
      display: flex;
      gap: 36px;
      padding: 0;
    }
  }