<body [ngClass]="showMenu ? 'overflow-body' : ''">
  <div class="home" >
    <div id="#"></div>
    <div class="menu">
        <app-menu-mobile (showMenuChange)="onShowMenuChange($event)"></app-menu-mobile>
        <app-menu></app-menu>
    </div>
    <main class="content">
      <section class="p-lg" id="account-form">
        <app-account-form></app-account-form>
      </section>
    </main>
    <section class="account-benefits" id="account-benefits">
      <app-account-benefits></app-account-benefits>
    </section>
    <section class="credit-card" id="credit-card">
      <app-credit-card></app-credit-card>
    </section>
    <section id="footer">
      <app-footer></app-footer>
    </section>
  </div>
</body>
