@import '/src/app/core/themes/variables.scss';
@import '/src/app/core/themes/sizes.scss';

.home {

  // background-position-x: 31%;
  // background-repeat: no-repeat;
  // background-position: 31%;
  scroll-snap-align: start;
  scroll-snap-stop: always;


  @include respond-to('desktop') {
    // background-image: url("../../../assets/img/bitwise-home.png");
    // background-position-x: 31%;
    // background-size: cover;
    // height: 114vh;
  }

  > .menu {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    z-index: 9;
  }

  > .content {
    background-image: url("../../../assets/img/bitwise-home.png");
    background-repeat: no-repeat;
    background-position-x: 31%;
    display: flex;
    height: 100vh;
    align-items: end;
    background-color: #3f3f3f4f;
    background-size: cover;

    @include respond-to('desktop') {
      // margin-left: 68px;
      background-color: transparent;
      padding: 20px;
    }
  }

  > .credit-card {
    background: $contrast-color;
    @include respond-to('desktop') {
     padding: $md-base;
    }
  }
}

.overflow-body {
  overflow: hidden;
}
