<div class="container">
  <h1 class="header">Em poucos cliques, abra sua conta 100% online.</h1>
    <mat-card>
      <div class="account-form">
        <form [formGroup]="accountForm">
        <h1>Peça sua conta e cartão de crédito do Bitwise</h1>
          <mat-form-field appearance="outline">
            <mat-label>Digite seu CPF</mat-label>
            <input matInput type="text" formControlName="cpf" mask="000.000.000-00"/>
            <mat-error *ngIf="cpf?.errors?.['required']">Digite um CPF válido.</mat-error>
          </mat-form-field>
          <button mat-flat-button>Abra já a sua conta</button>
        </form>
      </div>
    </mat-card>
</div>
