/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@import "/src/app/core/themes/variables.scss";
@import "/src/app/core/themes/palettes.scss";

@include mat.core();

$bitwise-primary: mat.define-palette($md-primary);
$bitwise-accent: mat.define-palette($md-accent);

$bitwise-theme: mat.define-light-theme((
  color: (
    primary: $bitwise-primary,
    accent: $bitwise-accent
  )
));

@include mat.all-component-themes($bitwise-theme);


@import "./app/core/themes/fonts.scss";

html {
  scroll-behavior: smooth !important;
}

body {
  line-height: normal !important;
}

html,
body {
  height: 100%;
  margin: 0;
}

.flex {
  display: flex;
}

.ct {
  height: 100vh;
  padding: 20px;
}

.text-decoration-none {
  text-decoration: none;
  color: $text-color;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
mat-label,
mat-form-field {
  font-family: "DM Sans", sans-serif !important;
  line-height: normal !important;
}

h1 {
  font-size: 32px !important;

  @include respond-to('desktop') {
    font-size: 48px !important;
  }
}

h2 {
  font-size: 24px !important;

  @include respond-to('desktop') {
    font-size:32px !important;
  }
}

h3 {
  font-size: 20px !important;

  @include respond-to('desktop') {
    font-size:24px !important;
  }
}

h4 {
  font-size: 18px !important;

  @include respond-to('desktop') {
    font-size:20px !important;
  }
}

