@import "/src/app/core/themes/variables.scss";

.menu {
  padding: (16 0 16 0);
  // background: rgb(0 0 0 / 67%);
  display: none;

  @include respond-to('desktop') {
    display: block;
  }

  > .header {
    padding: 0px 22px;
    justify-content: space-between;
    align-items: center;
    background: rgb(0, 0, 0);

    a, p, button {
      font-size: 18px;
    }

    h2 {
      margin-top: 10px;
      color: $primary-color;
    }
  }

  .login-button {
    color: $primary-color;
    font-weight: 700;
    mat-icon {
      rotate: -90deg;
    }
}
}

.navigation-menu {
    padding: 0px 24px 0px 24px;
    margin-bottom: 0;

    ul {
      list-style: none;
      gap: 36px;
      padding: 0;
      align-items: center;
    }

    .item-label {
      margin-bottom: 0;
      align-items: center;
      color: $text-color-contrast;
    }

    .item-label:hover {
      color: $primary-color;
    }
  }

  .option-link {
    padding: 0;
  }

  .item-label {
    display: flex;
    gap: 8px;
  }


  .menu-item .item-label {
    cursor: pointer;
  }

  ::ng-deep {
    .mat-mdc-menu-panel {
      margin-top: 16px !important;
      min-width: 200px !important;
      min-height: 100px !important;
    }

    .mat-mdc-card {
      border-radius: 0 !important;
      box-shadow: none !important;
    }
}

