<mat-card class="menu">
  <div class="header flex">
    <h2 style="cursor: pointer"><strong>bitwise</strong></h2>
    <nav class="navigation-menu">
      <ul class="option-link flex">
        <li class="list-items" *ngFor="let item of navigationItems">
          <div class="menu-item">
            <p class="item-label">
              {{ item }}
            </p>
          </div>
        </li>
      </ul>
    </nav>
    <button mat-flat-button class="login-button" style="background: none;">
      Login <mat-icon iconPositionEnd>save_alt</mat-icon>
    </button>
  </div>
</mat-card>
