<div class="footer">
<section>
  <div>
    <h1>Bitwise</h1>
    <ul>
      <li>
        Sobre nós
      </li>
      <li>
        Carreiras
      </li>
      <li>
        Perguntas frequentes
      </li>
      <li>
        Contato
      </li>
    </ul>
  </div>
</section>
<section>
  <div>
    <h1>Produtos</h1>
    <ul>
      <li>
        Conta digital
      </li>
      <li>
        Conta PJ
      </li>
      <li>
        Cartão de crédito
      </li>
      <li>
        Empréstimos
      </li>
      <li>
        Investimentos
      </li>
    </ul>
  </div>
</section>
<section>
  <div>
    <h1>Fale conosco</h1>
    <ul>
      <li>
        Capitais e Regiões metropolitanas
        4020 0185
      </li>
      <li>
        Demais localidades
        0800 591 2117
      </li>
      <li>
        contato@bitwise.com.br
      </li>
      <li>
        Canal de atendimento em libras
      </li>
    </ul>
  </div>
</section>
</div>
