<div class="ct footer">
    <section>
      <div>
        <h1>Bitwise</h1>
        <div>
          <p>Sobre nós</p>
          <p>Carreiras</p>
          <p>Perguntas frequentes</p>
          <p>Contato</p>
        </div>
      </div>
    </section>
    <section>
      <div>
        <h1>Produtos</h1>
        <div>
          <p>Conta digital</p>
          <p>Conta PJ</p>
          <p>Cartão de crédito</p>
          <p>Empréstimos</p>
          <p>Investimentos</p>
        </div>
      </div>
    </section>
    <section>
      <div>
        <h1>Fale conosco</h1>
        <div>
          <p>Capitais e Regiões metropolitanas 0808 0808</p>
          <p>Demais localidades 0800 080 8080</p>
          <p>contato@bitwise.com.br</p>
          <p>Canal de atendimento em libras</p>
        </div>
      </div>
    </section>
    <section class="download-app">
      <div>
        <h1>Baixe o app</h1>
        <a rel="noopener" (click)="navigateTop()">
          <img
            src="../../../../../assets/img/google-play-button.png"
            alt="Ícone Google Play Store"
          />
        </a>
      </div>
      <div>
        <a  rel="noopener" (click)="navigateTop()">
          <img
            src="../../../../../assets/img/app-store-button.png"
            alt="Ícone App Store"
          />
        </a>
      </div>
    </section>
  </div>
