@import "/src/app/core/themes/variables.scss";

.footer {
  background-color: $background-color-contrast;
  display: grid;
  color: white;

  @include respond-to("desktop") {
    display: flex;
    justify-content: space-evenly;
    padding: 40px;
  }

  p:hover {
    cursor: pointer;
    color: $primary-color;
  }

  section {
    font-weight: bold;
  }

  .download-app {
    display: grid;
    gap: 8px;
    img {
      width: 200px;
      height: 59px;
    }

    img:hover {
      cursor: pointer;
    }
  }
}
