@import "/src/app/core/themes/variables.scss";

.credit-card {
  align-content: center;
  display: grid;
  gap: 10px;

  @include respond-to("desktop") {
    align-content: normal;
    height: 70vh;
  }

  header {
    display: grid;
    gap: 10px;

    @include respond-to("desktop") {
      width: 42%;
    }

    h1 {
      font-size: 31px;

      @include respond-to("desktop") {
        font-size: 64px;
        line-height: normal;
      }
    }

    h3 {
      @include respond-to("desktop") {
        font-size: 24px;
      }
    }
  }

  .content {
    @include respond-to("desktop") {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }
  }

  .card-benefits {
    display: grid;
    ul {
      list-style: none;
      padding: 0;
      display: grid;
      gap: 10px;

      @include respond-to("desktop") {
        grid-template-columns: 1fr 1fr;
        gap: 26px;
      }

      li {
        display: flex;
        gap: 8px;

        mat-icon {
          color: $primary-color;
        }

        h3 {
          @include respond-to("desktop") {
            font-size: 18px;
          }
        }
      }
    }
  }

  .action-button {
    display: flex;
    justify-content: center;
    margin-top: 10px;

    button {
      width: 100%;
      height: 44px;
    }

    ::ng-deep {
      .mdc-button__label {
        color: $text-color-contrast;
      }
    }
  }
}
