<div class="ct credit-card">
  <header>
    <h1>Tudo o que você precisa, em um só cartão</h1>
    <h3>
      Vantagens para você comprar como, quando e onde quiser:
    </h3>
  </header>
  <section class="card-benefits">
    <ul>
      <li>
        <mat-icon>credit_card</mat-icon>
        <h3>Faça compras internacionais no crédito</h3></li>
      <li><mat-icon>receipt_long</mat-icon><h3>Acompanhe suas movimentações no app</h3></li>
      <li><mat-icon>contactless</mat-icon><h3>Pague por aproximação</h3></li>
      <li><mat-icon>list</mat-icon><h3>Organize suas compras por categorias</h3></li>
      <li><mat-icon>add_card</mat-icon><h3>Parcele compras à vista em até 10 vezes</h3></li>
      <li><mat-icon>event_upcoming</mat-icon><h3>Antecipe o pagamento das parcelas no app</h3></li>
      <li><mat-icon>shopping_cart</mat-icon><h3>Crie um cartão virtual para suas compras online</h3></li>
  </ul>
  </section>
  <div class="action-button">
    <button mat-raised-button color="primary">Solicitar cartão de crédito</button>
  </div>
</div>
