<div class="ct credit-card">
  <div class="content">
    <header>
      <h1>Tudo o que você precisa, em um só cartão</h1>
      <h4>
        Vantagens para você comprar como, quando e onde quiser:
      </h4>
    </header>
    <div>
      <section class="card-benefits">
        <ul>
          <li>
          <mat-icon>credit_card</mat-icon>
          <h4>Faça compras internacionais no crédito</h4></li>
          <li ><mat-icon>receipt_long</mat-icon><h4>Acompanhe suas movimentações no app</h4></li>
          <li><mat-icon>contactless</mat-icon><h4>Pague por aproximação</h4></li>
          <li><mat-icon>list</mat-icon><h4>Organize suas compras por categorias</h4></li>
          <li><mat-icon>add_card</mat-icon><h4>Parcele compras à vista em até 10 vezes</h4></li>
          <li><mat-icon>event_upcoming</mat-icon><h4>Antecipe o pagamento das parcelas no app</h4></li>
          <li><mat-icon>shopping_cart</mat-icon><h4>Crie um cartão virtual para suas compras online</h4></li>
          <li><mat-icon>attach_money</mat-icon><h4>Ganhe cashback em todas as compras</h4></li>
      </ul>
      </section>
      <div class="action-button">
        <button mat-raised-button color="primary">Solicitar cartão de crédito</button>
      </div>
    </div>
    </div>
</div>
